* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}


body {
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 5rem;
}


.modal {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-content {
  background-color: white;
  max-width: 320px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 18px 40px 42px 40px
}

.modaltop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E6E6E6;
}

.modalbottom {
  display: grid;
  grid-row-gap:5px;
}

.modalbottom input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: -5px;

}

#todoBtn {
  background-color: white;
  font-size: 40px;
  margin-top: 110px;
  width: 225px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: 0.5s;
  height: 60px;
}

#todoBtn:hover {
  background-color: #56D4C2;
}

#createBtn {
  width: 100%;
  background-color: #56D4C2;
  height: 35px;
  color: white;
  border-width: 0px;
  padding: 5px 0px 5px 0px;
  font-size:20px
}


.exit {
  font-size: 30px
}

.exit:hover {
  cursor: pointer;
}

#chars {
  font-size: 12px;
}

.todoElementBtns button {
  padding: 4px 20px;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 4px;
  transition: 0.3s;
}

.removeTodoBtn {
  background-color: #EF3340;
}

.removeTodoBtn:hover {
  background-color: #de212e;
}

.completeTodoBtn {
  background-color: #56D4C2;
}

.completeTodoBtn:hover {
  background-color: #49b6a8;
}

.container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 75px;
  grid-column-gap: 4%;
}


.todoElement {
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px #5DD3D829;
  border-radius: 8px;
}

.todoElementBtns {
  display: flex;
  justify-content: flex-end;
}

.todoElementBtns button {
  padding: 4px 20px;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 4px;
  transition: 0.3s;
}